// @import'../../../../less/variables';

.display {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: $box--brd-radius;
  margin: 0.75rem;

  &__header {
    @extend %header__h2;
    margin-bottom: 0.5rem;

    &--white-theme {
      text-shadow: $shadow-size--sm
        $shadow-color--white-theme;
      color: $header-color--white-theme;
    }
    &--dark-theme {
      text-shadow: $shadow-color--dark-theme;
      color: $header-color--dark-theme;
    }
  }

  &__body {
    border-radius: $cell--brd-radius;

    &--white-theme {
      box-shadow: $shadow-size--md $shadow-blur--md
        $shadow-color--white-theme;
    }
    &--dark-theme {
      box-shadow: none;
    }
  }

  &__tr {
    border-radius: $cell--brd-radius;

    &--white-theme {
      border: 2px solid grey;
    }
    &--dark-theme {
      border: 2px solid rgb(228, 228, 228);
    }
  }

  &__th {
    border-radius: $cell--brd-radius;
    padding: 0.5rem 1rem;

    &--white-theme {
      background-color: rgb(86, 223, 178);
    }
    &--dark-theme {
      background-color: rgb(15, 118, 84);
      color: $text-color--dark-theme;
    }
  }
  &__td {
    border-radius: $cell--brd-radius;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid black;
    min-width: 3.5rem;

    &--white-theme {
      border-color: black;
      background-color: rgb(205, 255, 226);
    }
    &--dark-theme {
      border-color: whitesmoke;
      background-color: rgb(73, 89, 80);
      color: $text-color--dark-theme;
    }
    &--backlightColor {
      background-color: rgb(17, 158, 197);
    }
  }

  &--white-theme {
    background-color: $display-bgc--white-theme;
    box-shadow: $shadow-size--md $shadow-blur--md
      $shadow-color--white-theme;
    border: 1px solid $box-border-color--white-theme;
    color: black;
  }

  &--dark-theme {
    background-color: $display-bgc--dark-theme;
    box-shadow: none;
    border: 1px solid $box-border-color--dark-theme;
    color: rgb(32, 136, 148);
  }
}
