@import "../../less/variables";

%td__basic-styles {
  text-align: center;
  border-radius: 5px;
  padding: 0;
  min-height: 30px; //необхідно для того щоб нащадок "input"
  height: 1px; // зміг прийняти height:100%;
  border: 2px solid;
  font-size: $font-size--p;
  // &:hover {
  //   background-color: rgb(97, 143, 48);
  // }
}

.salary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  // &__tabel {
  //   border-radius: 5px;
  //   border: 3px solid;

  //   &--white-theme {
  //     border-color: $app__bgc--white-theme;
  //   }
  //   &--dark-theme {
  //     border-color: rgb(0, 0, 0);
  //   }
  // }

  &__header {
    @extend %header__h2;
    margin-bottom: 10px;

    &--white-theme {
      text-shadow: $shadow-size--sm $shadow-color--white-theme;
      color: $header-color--white-theme;
    }
    &--dark-theme {
      text-shadow: none;
      color: $header-color--dark-theme;
    }
  }
  &__tr {
    border: 2px solid grey;
    border-radius: 5px;

    &--white-theme {
      &:hover {
        outline: 2px solid rgb(7, 95, 7);
      }
    }
    &--dark-theme {
      &:hover {
        outline: 2px solid rgb(142, 167, 148);
      }
    }
  }
  &__th {
    border-radius: 5px;

    &--white-theme {
      background-color: rgb(153, 183, 236);
      color: $header-color--white-theme;
    }
    &--dark-theme {
      background-color: rgb(0, 0, 0);
      color: $header-color--dark-theme;
    }
  }
  &__td {
    @extend %td__basic-styles;

    &--white-theme {
      border-color: grey;
    }
    &--dark-theme {
      border-color: rgb(192, 192, 192);
    }
  }

  &__td-no-inputs {
    @extend %td__basic-styles;
    padding: 3px;

    &--white-theme {
      border-color: grey;
      background-color: #49b2cc;
      color: black;
    }
    &--dark-theme {
      border-color: rgb(192, 192, 192);
      background-color: #0b333c;
      color: rgb(221, 221, 221);
    }
  }

  &__input {
    height: 100%;
    width: 60px;
    margin: 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: $font-size--p;
    &:hover {
      background-color: rgb(152, 154, 69);
    }

    &--white-theme {
      background-color: rgb(223, 227, 103);
    }
    &--dark-theme {
      background-color: rgb(131, 133, 42);
    }
  }
  &__change-by-one {
    width: 30px;
    border: none;
    border-radius: 5px;
    font-size: $font-size--p;

    background-color: rgb(173, 173, 173);
    cursor: pointer;
    &:hover {
      background-color: rgb(111, 111, 111);
    }
  }
}
