@import "../../less/variables";

.select-lang {
  border-radius: $button--brd-radius;

  &__label {
    font-size: $font-size--p;
    // &--white-theme {
    //   box-shadow: none;
    // }
    // &--dark-theme {
    //   box-shadow: none;
    // }
  }
  &__selector {
    border-radius: $button--brd-radius;
    // &--white-theme {
    //   box-shadow: none;
    // }
    // &--dark-theme {
    //   box-shadow: none;
    // }
  }

  &__option {
    border-radius: $button--brd-radius;
    // &--white-theme {
    //   box-shadow: none;
    // }
    // &--dark-theme {
    //   box-shadow: none;
    // }
  }
  // &--white-theme {
  //   box-shadow: none;
  // }
  // &--dark-theme {
  //   box-shadow: none;
  // }
}
