$button--brd-radius: 5px;
$cell--brd-radius: 5px;
$box--brd-radius: 5px;

$font-size--h1: 2rem;
$font-size--h2: 1.75rem;
$font-size--p: 1rem;

$font-weight--h1: 600;
$font-weight--h2: 500;

$header-color--white-theme: rgb(26, 100, 219);
$header-color--dark-theme: rgb(178, 149, 99);

$text-color--white-theme: black;
// $text-color--dark-theme: rgb(111, 172, 212);
$text-color--dark-theme: rgb(230, 230, 230);

$shadow-color--white-theme: #a7a7a7;
$shadow-color--dark-theme: none;

$tabel-bg-color--white-theme: rgb(244, 244, 244);

$app__bgc--white-theme: rgb(187, 233, 231);
// $app__bgc--white-theme: white;
$app__bgc--dark-theme: rgb(50, 50, 50);

$display-bgc--white-theme: aquamarine;
// $display-bgc--white-theme: white;
$display-bgc--dark-theme: rgb(50, 50, 50);

// $control-panel-bgc--white-theme: rgb(9, 118, 82);
// $control-panel-bgc--dark-theme: rgb(9, 118, 82);

$box-border-color--white-theme: grey;
$box-border-color--dark-theme: rgb(213, 213, 213);

$shadow-size--sm: 3px 3px 3px;
$shadow-size--md: 3px 7px 5px;
$shadow-size--lg: 5px 10px 8px;

$shadow-blur--sm: 3px;
$shadow-blur--md: 5px;
$shadow-blur--lg: 10px;

// %header-shadow--white-theme {
//   text-shadow: $shadow-size--sm $shadow-color--white-theme;
// }

// box-shadow: $shadow-size--md $shadow-blur--md
//   $shadow-color--white-theme;

%box-border--white-theme {
  border: 1px solid $box-border-color--dark-theme;
}

%header__h2 {
  font-weight: $font-weight--h2;
  font-size: $font-size--h2;
  text-align: center;
}
