@use "../../less/variables";
.alco-counter {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;

  &__header {
    text-align: center;
    margin: 0;
    font-size: variables.$font-size--h1;
    font-weight: variables.$font-weight--h1;

    &--white-theme {
      color: variables.$header-color--white-theme;
      text-shadow: variables.$shadow-size--sm variables.$shadow-color--white-theme;
    }
    &--dark-theme {
      color: variables.$header-color--dark-theme;
      text-shadow: none;
    }
  }
  &__calendar-day-info {
    max-width: 100%;
    border: 1px solid #a0a096;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin: 0.75rem;
    &--white-theme {
      box-shadow: 3px 7px 5px 7px #a7a7a7;
      background-color: white;
    }
    &--dark-theme {
      box-shadow: none;
      background-color: rgb(129, 129, 129);
    }
  }
  &__show-calendar-btn {
    &--white-theme {
      box-shadow: variables.$shadow-size--md variables.$shadow-blur--md variables.$shadow-color--white-theme;
    }
  }

  &__cleaner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    // border-radius: 5px;
    // border: 1px solid grey;

    button {
      border: 5px;
      margin: 5px;
      border-radius: 5px;
    }
    &--white-theme {
      button {
        box-shadow: variables.$shadow-size--md variables.$shadow-blur--md variables.$shadow-color--white-theme;
        color: rgb(200, 0, 0);

        &:hover {
          background-color: rgb(217, 217, 217);
        }
      }
    }
    &--dark-theme {
      button {
        box-shadow: none;
        background-color: rgb(40, 40, 40);
        color: rgb(178, 149, 99);

        &:hover {
          background-color: rgb(28, 22, 22);
        }
      }
    }
  }
}
.Menu {
  &--white-theme {
    background-color: white;
  }

  &--dark-theme {
    background-color: rgb(129, 129, 129);
  }
}
